@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

body {
    background-color: rgb(30, 30, 30)
}

h1 {
    color: rgb(180, 180, 180);
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

p {
    color: rgb(180, 180, 180);
    font-family: 'Roboto', sans-serif;
    width: 100%;
    position: relative;
    left: 25%;
    font-size: 20px;

}

.registrate_button {
    /*background: rgb(100, 100, 200);*/
    text-align: center;
    width: 50%;
}

.registrate_lable {
    text-align: center;
}

a {
    font-family: 'Roboto', sans-serif;
    text-decoration: None;
    color: rgb(200, 200, 200);

}

input {
    color: rgb(200, 200, 200);
    background: rgb(45, 45, 45);
    font-family: 'Roboto', sans-serif;
    border-radius: 16px;
    width: 50%;
    height: 37px;
    border: 10px wheat;
    padding-left: 12px;
    padding-right: 12px;
    outline: none;
    top: 10px;
    font-size: 20px;
    position: relative;
}

.search {
    color: rgb(200, 200, 200);
    background: rgba(55, 55, 55, 0.58);
    font-family: 'Roboto', sans-serif;
    border-radius: 16px;
    width: 50%;
    height: 37px;
    border: 1px solid rgba(150, 150, 150, 0.3);
    padding-left: 12px;
    padding-right: 12px;
    outline: none;
    top: 10px;
    font-size: 20px;
    box-shadow: 0 0 15px rgba(200, 200, 200, 0.06);

    left: 320px;
    top: 24px;
    font-size: 20px;
    position: absolute;
    padding-left: 45px;
    padding-right: 12px;

    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);

    position: fixed;


}

#search_icon {
    left: 330px;
    top: 32px;
    width: 22px;
    height: 22px;
    position: fixed;

}

.choose {
    background: rgb(35, 35, 35);
    left: 0px;
    top: 0px;
    position: fixed; /* Set the navbar to fixed position */
    width: 200px;
    height: 100vh;
    overflow: hidden;
    display: block;
    font-size: 20px;


}

.groups {
    padding-left: 20px;
    padding-top: 15px;
    position: absolute;
    color: rgb(200, 200, 200);

}

.bibl {
    position: absolute;
    left: 10px;
    top: 100px;
    height: 50px;
    width: 180px;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

.glav {
    position: absolute;

    left: 10px;
    top: 50px;
    height: 50px;
    width: 180px;

    border-radius: 5px;

    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

.bibl:hover {
    background: rgb(50, 50, 50);
}

.glav:hover {
    background: rgb(50, 50, 50);
}

.stndart_avatar {
    position: absolute;
    right: 20px;
    top: 15px;
    height: 48px;
    width: 48px;
}

.avatar{
    position: absolute;
    right: 20px;
    top: 25px;
    height: 48px;
    width: 48px;
}

.avatar_image{
    height: 48px;
    width: 48px;
    border-radius: 8px;

}

.remember_me {
    text-align: left;
}

.game_preview {
    width: 230px;
    height: 345px;
    border-radius: 16px;

    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.game_preview:hover {
    width: 253px;
    height: 380px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);

}


.row {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-left: 200px;
    margin-top: 100px;
}

.col-3 {
    flex: 0 0 20%;
    max-width: 22%;
    padding: 10px 10px;

}

.fon {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    filter: blur(100px);
    z-index: -1;

    background: radial-gradient(ellipse closest-side at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 70%);
    -webkit-mask-image: radial-gradient(ellipse closest-side at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 70%);
    mask-image: radial-gradient(ellipse closest-side at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 70%);

}

.fullpreview {

    max-width: 60%;
    max-height: 60%;
    -width: auto;
    height: auto;
    border-radius: 10px;

    /*filter: blur(10px);*/
    display: block;

    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.7);



    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1; /* устанавливаем поверх изображения */

}

.characteristics {
    color: rgb(200, 200, 200);
    background: rgba(55, 55, 55, 0.5);
    font-family: 'Roboto', sans-serif;
    border-radius: 16px;
    width: 300px;
    height: 97vh;
    border: 1px solid rgba(150, 150, 150, 0.3);
    outline: none;
    top: 12px;
    font-size: 20px;
    box-shadow: 0 0 5px rgba(200, 200, 200, 0.05);

    right: 10px;
    padding-left: 45px;
    padding-right: 12px;

    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(10px);

    position: absolute;



}

.left_game_content{
    margin-left: 45px;
}

.vign {
    position: fixed;
    display: block;


    top: -300px;
    right: 0;
    bottom: 0;
    left: -500px;
    /*filter: blur(10px);*/

    background: radial-gradient(circle closest-side at center, rgba(0, 0, 0, 0.3) 0%, rgba(30, 30, 30, 0.85) 100%);
    height: 150vh; /* устанавливаем высоту равной высоте окна просмотра */
    margin: 0; /* убираем отступы */
    padding: 0; /* убираем отступы */
    z-index: -1; /* устанавливаем поверх изображения */

}

.game_page{

    overflow-x: hidden;

}

.game_title {
    font-family: 'Roboto', sans-serif;

    color: rgba(250, 250, 250, 0.9);
    font-size: 50px;
    margin-bottom: 15px;
    margin-left: -10px;

}

.game_price{
    background: #328cff;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    outline: none;
    font-family: 'Roboto', sans-serif;

    font-size: 20px;
    color: rgb(222, 222, 222);
    border: None;

    /* Добавляем следующие свойства */
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translate(-50%, -50%);

}

.description{
    color: rgb(200, 200, 200);
    background: rgba(55, 55, 55, 0.7);
    font-family: 'Manrope', sans-serif;
    border-radius: 16px;
    width: 740px;
    border: 1px solid rgba(150, 150, 150, 0.3);
    outline: none;
    font-size: 11px;
    margin-top: 30px;
    padding-top: 10px;
    box-shadow: 0 0 5px rgba(200, 200, 200, 0.05);

    left: 52px;
    padding-left: 45px;
    padding-right: 32px;

    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);

    position: absolute;

}

.des_light{
    margin-top: 50px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    opacity: 0.8;

}

.release_date{
    font-size: 22px;
    margin-top: -5px;
}

.age_limit{
    font-size: 30px;

}

/*.col-3{*/
/*    margin-top: 50px;*/
/*}*/

.search_content{
    margin-top: 100px;
    margin-left: 300px

}

.form-control-file{
    /*padding-top: 10px;*/
    display: inline-block;
    vertical-align: middle;

}

.serach_h1{
    font-family: 'Roboto', sans-serif;

    font-size: 38px;
}

.btn{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    font-size: 20px;
    width: 20%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: None;
    background: #328cff;
    color: rgb(222, 222, 222);

}

.register_page{
    overflow-x: hidden;

}

.reg_label{
    font-family: 'Roboto', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(222, 222, 222);

}

/*#logo{*/
/*    position: absolute;*/
/*    left: 20px;*/
/*    top: 10px;*/
/*    height: 48px;*/
/*    width: 48px;*/
/*}*/

.remember_me{
    position: absolute;
    left: 40px;
    top: 19px;

}

.btn_login{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 20%;
    height: 30px;
    top: 30px;
    left: 15%;
    border-radius: 8px;
    border: None;
    background: #328cff;
    color: rgb(222, 222, 222);

}

.reg-log_link{
    margin-top: 125px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.reg-log_link a{
    opacity: 0.8;
    color: #328cff;
    padding-left: 15px;
    padding-right: 15px;
}

.main_link{
    position: absolute;
    left: 15px;
    top: 15px;
    opacity: 0.8;
    color: #328cff;
}