<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About | NGames</title>
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous">
</head>
<body>
    <h1>МОЙ КРУТОЙ САЙТ</h1>
    <h2>ну он крутой и... Здесь используется bootstrap</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/3igMNFeONZw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <h2>Вот крутое видео ^</h2>

</body>
</html>