<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NGame</title>
    <link rel="stylesheet" href='/static/home.css'/>

</head>
<body>

    <input type="text" class="search"> </input>
    <img src="/static/images/search_icon.png" id="search_icon"/>

    <div class="choose">
        <div class="glav">
            <a class="groups"> Главная </a>
        </div>
        <div class="bibl">
            <a class="groups"> Библиотека </a>
        </div>

    </div>

    <a href="/register"><img src="/static/images/avatar_icon.com.png" alt="Профиль" class="avatar"></a>

</body>
</html>