

{% extends "base.html" %}

{% block content %}
  <h2 class="reg_label">Регистрация</h2>
  <form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
      {{ form.name.label(class_="form-control-label") }}<br>
      {{ form.name(class_="form-control") }}<br><br>
      {% for error in form.name.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </p>
    <p>
      {{ form.email.label(class_="form-control-label") }}<br>
      {{ form.email(class_="form-control") }}<br><br>
      {% for error in form.email.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </p>
    <p>
      {{ form.password.label(class_="form-control-label") }}<br>
      {{ form.password(class_="form-control") }}<br><br>
      {% for error in form.password.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </p>
    <p>
      {{ form.password_again.label(class_="form-control-label") }}<br>
      {{ form.password_again(class_="form-control") }}<br><br>
      {% for error in form.password_again.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </p>
    <p class="choose_file">
      {{ form.profile_image.label(class_="form-control-label") }}<br>
      {{ form.profile_image(class_="form-control-file") }}<br><br><br>
      {% for error in form.profile_image.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </p>
    <button type="submit" class="reg_btn">Зарегистрироваться</button>
  </form>

{% endblock %}