<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Apex Legends</title>
    <link rel="stylesheet" href='/static/home.css'/>

</head>
<body class="game_page">

    <div class="choose">

        <div class="cutout"></div>
        <div class="cutout_2"></div>

        <img src="/static/images/logo.png" id="logo"/>
        <h1 class="A">A</h1>
        <h1 class="dot">.</h1>
        <h1 class="G">G</h1>

        <div class="glav">
            <a  href="/" class="groups"> Главная </a>
        </div>
        <div class="bibl">
            <a href="/library" class="groups"> Библиотека </a>
        </div>

    </div>
    <div class="left_game_content">

        <h1 class="game_title"> Apex Legends </h1>
        <img src="/static/images/fullpreviews/apex_legends_fullpreview.png" class="fon">
        <div class="vign"></div>

        <img src="/static/images/fullpreviews/apex_legends_fullpreview.png" class="fullpreview">
    </div>
    <div class="characteristics">
        <h2 class="age_limit">16+</h2>


        
            <button type="button" class="game_price" onclick="window.location.href='/buy?game=7'"> free </button>
        



        <h3 class="des_light">Дата выхода</h3>
        <h2 class="release_date"> 4 февраля 2019 г.
 </h2>

    </div>

    <div class="description">
        <h2 class="description_text">Побеждайте с характером в Apex Legends™ — бесплатном героическом шутере*, где легендарные персонажи с мощными способностями сражаются за славу и богатства на дальних рубежах Фронтира.

Откройте для себя растущую коллекцию разнообразных легенд, глубокие тактические командные бои и смелые инновации, которые выходят далеко за рамки «Королевской битвы», — и всё это в суровом мире, где возможно всё. Встречайте новую эпоху в жанре геройских шутеров.

КЛЮЧЕВЫЕ ОСОБЕННОСТИ


В этой игре дополнительно продаётся виртуальная валюта, которую можно использовать для приобретения виртуальных внутриигровых товаров, включая случайный набор виртуальных игровых элементов.</h2>
    </div>




</body>
</html>
