<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{game.name}}</title>
    <link rel="stylesheet" href='/static/home.css'/>

</head>
<body class="game_page">
    <div class="left_game_content">

        <h1 class="game_title"> {{game.name}} </h1>
        <img src="{{ game.fullpreview }}" class="fon">
        <div class="vign"></div>

        <img src="{{ game.fullpreview }}" class="fullpreview">
    </div>
    <div class="characteristics">
        <h2 class="age_limit">{{game.age_limit}}</h2>


        <button type="button" class="game_price" onclick="window.location.href='/buy?game={{game.id}}'"> {{game.price}} </button>


        <h3 class="des_light">Дата выхода</h3>
        <h2 class="release_date"> {{game.release_date}} </h2>

    </div>

    <div class="description">
        <h2 class="description_text">{{game.description}}</h2>
    </div>


</body>
</html>

