<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Dota 2</title>
    <link rel="stylesheet" href='/static/home.css'/>

</head>
<body class="game_page">
    <div class="left_game_content">

        <h1 class="game_title"> Dota 2 </h1>
        <img src="/static/images/fullpreviews/dota2_fullpreview.png" class="fon">
        <div class="vign"></div>

        <img src="/static/images/fullpreviews/dota2_fullpreview.png" class="fullpreview">
    </div>
    <div class="characteristics">
        <h2 class="age_limit">17+</h2>


        <button type="button" class="game_price" onclick="window.location.href='/buy?game=1'"> free </button>


        <h3 class="des_light">Дата выхода</h3>
        <h2 class="release_date">  9 июля 2013 г. </h2>

    </div>

    <div class="description">
        <h2 class="description_text">Самая популярная игра в Steam
Ежедневно миллионы игроков по всему миру сражаются от лица одного из более сотни героев Dota 2, и даже после тысячи часов в ней есть чему научиться. Благодаря регулярным обновлениям игра живёт своей жизнью: геймплей, возможности и герои постоянно преображаются.

Одно поле боя, неиссякаемые возможности
Игра может похвастаться бесконечным разнообразием героев, способностей и предметов, благодаря чему каждый матч уникален. Любой герой может исполнять множество ролей, и для каждой нужды найдутся подходящие предметы. Здесь вас ничто не ограничивает — вы сами выбираете, какой стратегии следовать.

Все герои бесплатны
Равные соревновательные возможности — главная гордость игры. Чтобы все находились в одинаковом положении, её основа — в частности, обширный список героев — доступна каждому игроку. Если хотите, вы можете коллекционировать предметы, видоизменяющие как героев, так и мир вокруг них, но всё необходимое для вашего первого матча уже есть в игре.

Зовите друзей и играйте вместе
Dota 2 многогранна, и она не стоит на месте, но вступить в игру никогда не поздно. 
Научитесь основам в матче против ботов. Опробуйте возможности героев. А затем вступайте в битву с игроками вашего уровня и поведения: об этом позаботится система подбора игры.</h2>
    </div>


</body>
</html>
