<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Dota 2</title>
    <link rel="stylesheet" href='/static/home.css'/>

</head>
<body class="game_page">
    <div class="left_game_content">

        <h1 class="game_title"> Dota 2 </h1>
        <img src="/static/images/fullpreviews/dota2_fullpreview.png" class="fon">
        <div class="vign"></div>

        <img src="/static/images/fullpreviews/dota2_fullpreview.png" class="fullpreview">
    </div>
    <div class="characteristics">
        <h2 class="age_limit">17+</h2>
        <button class="game_price"> free </button>

    </div>

</body>
</html>