<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Factorio</title>
    <link rel="stylesheet" href='/static/home.css'/>

</head>
<body class="game_page">
    <div class="left_game_content">

        <h1 class="game_title"> Factorio </h1>
        <img src="/static/images/fullpreviews/factorio_fullpreview.png" class="fon">
        <div class="vign"></div>

        <img src="/static/images/fullpreviews/factorio_fullpreview.png" class="fullpreview">
    </div>
    <div class="characteristics">
        <h2 class="age_limit">12+</h2>


        <button type="button" class="game_price" onclick="window.location.href='/buy?game=6'"> 999₽ </button>


        <h3 class="des_light">Дата выхода</h3>
        <h2 class="release_date"> 25 февраля 2016 г.
 </h2>

    </div>

    <div class="description">
        <h2 class="description_text">Factorio is a game in which you build and maintain factories.
You will be mining resources, researching technologies, building infrastructure, automating production, and fighting enemies. Use your imagination to design your factory, combine simple elements into ingenious structures, apply management skills to keep it working, and protect it from the creatures who don&#39;t really like you.
The game is very stable and optimized for building massive factories. You can create your own maps, write mods in Lua, or play with friends via Multiplayer.
Factorio was in development from the spring of 2012 to the beginning of 2021. So far over 3,500,000 people have bought the game. You can get it from Steam, GOG, or directly from our shop.</h2>
    </div>


</body>
</html>
