<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Noita</title>
    <link rel="stylesheet" href='/static/home.css'/>

</head>
<body class="game_page">

    <div class="choose">

        <div class="cutout"></div>
        <div class="cutout_2"></div>

        <img src="/static/images/logo.png" id="logo"/>
        <h1 class="A">A</h1>
        <h1 class="dot">.</h1>
        <h1 class="G">G</h1>

        <div class="glav">
            <a  href="/" class="groups"> Главная </a>
        </div>
        <div class="bibl">
            <a href="/library" class="groups"> Библиотека </a>
        </div>

    </div>
    <div class="left_game_content">

        <h1 class="game_title"> Noita </h1>
        <img src="/static/images/fullpreviews/noita_fullpreview.jpg" class="fon">
        <div class="vign"></div>

        <img src="/static/images/fullpreviews/noita_fullpreview.jpg" class="fullpreview">
    </div>
    <div class="characteristics">
        <h2 class="age_limit">12+</h2>


        
            <button type="button" class="game_price" onclick="window.location.href='/buy?game=3'"> 435₽ </button>
        



        <h3 class="des_light">Дата выхода</h3>
        <h2 class="release_date"> 24 сентября 2019 г.
 </h2>

    </div>

    <div class="description">
        <h2 class="description_text">Noita — магический боевик с элементами «roguelike» в мире с физическим моделированием каждого пикселя. Вам предстоит сражаться с врагами, исследовать различные места, расплавлять, сжигать, замораживать и испарять препятствия на пути по процедурно генерируемому миру, используя самостоятельно созданные заклинания. В поисках неизвестных тайн вы будете погружаться всё глубже — в самых разных местах: от угольных шахт до замерзших пустынь.


Пиксельная физика: каждый пиксель в мире моделируется. Можно жечь, взрывать и расплавлять что угодно, а также плавать в крови врагов! Откройте для себя мир-симуляцию с невиданным уровнем интерактивности.

Ваши собственная магия: по мере углубления в пещеры вы будете создавать новые заклинания. Магия поможет убивать врагов и манипулировать окружающим миром.

Процедурно создаваемый мир: уникальный мир — при каждом прохождении. Чем дольше вы играете, тем больше мест откроете.</h2>
    </div>




</body>
</html>
