<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Stranded Deep</title>
    <link rel="stylesheet" href='/static/home.css'/>

</head>
<body class="game_page">
    <div class="left_game_content">

        <h1 class="game_title"> Stranded Deep </h1>
        <img src="/static/images/fullpreviews/stranded_deep_fullpreview.png" class="fon">
        <div class="vign"></div>

        <img src="/static/images/fullpreviews/stranded_deep_fullpreview.png" class="fullpreview">
    </div>
    <div class="characteristics">
        <h2 class="age_limit">12+</h2>


        <button type="button" class="game_price" onclick="window.location.href='/buy?game=4'"> 399₽ </button>


        <h3 class="des_light">Дата выхода</h3>
        <h2 class="release_date"> 23 января 2015 г.
 </h2>

    </div>

    <div class="description">
        <h2 class="description_text">Действие Stranded Deep происходит в Тихом океане. Игрок управляет единственным выжившим с потерпевшего крушения самолёта; персонаж должен самостоятельно искать ресурсы для выживания, исследовать мир и избегать опасностей — например, нападений акул и ядовитых змей[3]. В начале игры персонаж оказывается в открытом море среди акул и должен добраться до безопасного необитаемого острова, где может мастерить примитивные инструменты из камней и палок, искать съедобные растения, ловить крабов и рыбу[4]. Мир игры, в том числе острова, остовы разбитых кораблей, находящиеся как на поверхности, так и под водой, и иные примечательные места, включая боссов, генерируются процедурным образом[5].</h2>
    </div>


</body>
</html>
