<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Subnautica</title>
    <link rel="stylesheet" href='/static/home.css'/>

</head>
<body class="game_page">

    <div class="choose">

        <div class="cutout"></div>
        <div class="cutout_2"></div>

        <img src="/static/images/logo.png" id="logo"/>
        <h1 class="A">A</h1>
        <h1 class="dot">.</h1>
        <h1 class="G">G</h1>

        <div class="glav">
            <a  href="/" class="groups"> Главная </a>
        </div>
        <div class="bibl">
            <a href="/library" class="groups"> Библиотека </a>
        </div>

    </div>
    <div class="left_game_content">

        <h1 class="game_title"> Subnautica </h1>
        <img src="/static/images/fullpreviews/subnautica_fullpreview.png" class="fon">
        <div class="vign"></div>

        <img src="/static/images/fullpreviews/subnautica_fullpreview.png" class="fullpreview">
    </div>
    <div class="characteristics">
        <h2 class="age_limit">12+</h2>


        
            <button type="button" class="game_price" onclick="window.location.href='/buy?game=2'"> 999₽ </button>
        



        <h3 class="des_light">Дата выхода</h3>
        <h2 class="release_date"> 16 декабря 2014 г. </h2>

    </div>

    <div class="description">
        <h2 class="description_text">Subnautica — это подводная приключенческая игра в совокупности с чужой океанической планетой. Вас ждёт огромный открытый мир, полный чудес и опасностей!
Окунитесь в огромный подводный мир



Вы потерпели крушение в чудом океаническом мире, где единственный путь ведёт вниз. Океаны Subnautica разнятся от залитых солнцем коралловых рифов до коварных глубоководных расщелин, лавовых полей и биолюминесцентных подводных рек. Контролируйте свой запас кислорода, пока исследуете заросли водорослей, плато, рифы и извилистые пещерные системы. Воды кишат живностью: некоторые из них полезны, многие — опасны.
Собирайте, создавайте и выживайте







После аварийной посадки в спасательной капсуле начинается гонка со временем на поиски воды, еды и создание снаряжения для выживания. Собирайте ресурсы в окружающем Вас океане. Создавайте ножи, снаряжение для ныряния и персональный водный транспорт. Отправляйтесь глубже и дальше в поисках более редких ресурсов, которые позволят Вам создавать более продвинутые предметы.</h2>
    </div>




</body>
</html>
