<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>The Long Dark</title>
    <link rel="stylesheet" href='/static/home.css'/>

</head>
<body class="game_page">
    <div class="left_game_content">

        <h1 class="game_title"> The Long Dark </h1>
        <img src="/static/images/fullpreviews/the_long_dark_fullpreview.png" class="fon">
        <div class="vign"></div>

        <img src="/static/images/fullpreviews/the_long_dark_fullpreview.png" class="fullpreview">
    </div>
    <div class="characteristics">
        <h2 class="age_limit">12+</h2>
        <button class="game_price"> 619₽ </button>
        <h3 class="des_light">Дата выхода</h3>
        <h2 class="release_date"> 22 сентября 2014 г.
 </h2>

    </div>

    <div class="description">
        <h2>The Long Dark - это исследовательская игра-симулятор выживания, в которой игроки-одиночки должны позаботиться о себе в ходе изучения обширных морозных необитаемых территорий, переживших геомагнитную катастрофу. Здесь нет зомби - только вы, холод и все опасности, которые </h2>
    </div>

</body>
</html>